#wrap main {}
#wrap main #hero_bnr {
    height: 830px; min-width: 1220px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 400px;
}
#wrap main #hero_bnr .ad_txt {
    text-align: center;
}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    color: #fff;
    /* text-shadow:x y 흐림 색상; */
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    line-height: 1.5;
    font-family: 'noto sans kr', sans-serif;
}
#wrap main #hero_bnr .ad_txt p {
    font-size: 1.88rem;
    font-weight: 500;
}
#wrap main #hero_bnr .ad_txt h1 {
    font-size: 3.13rem;
    font-weight: 600;
    margin-bottom: 35px;
} 
#wrap main #hero_bnr #reservation_form {
    width: 1040px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.7);
    display: flex; /* 객실~체크인아웃~인원~검색 자식들 정렬 flex */
    flex-flow: row nowrap;
    gap: 12px;
    justify-content: space-between; /* 메인축(수평) 양쪽 끝 배치 */
    /* align-items: center; */ /* 교차축(수직) 가운데 */
    align-items:end;
}
#wrap main #hero_bnr #reservation_form h2 {}
/* ----------------------------------------------객실~인원 공통디자인 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr .check_in_out .in h2,
#wrap main #hero_bnr .check_in_out .out h2,
#wrap main #hero_bnr .person h2 {
    margin-bottom: 8px;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {

}

/* ----------------------------------------------객실선택 */
#wrap main #hero_bnr #reservation_form .room h2 {}
#wrap main #hero_bnr #reservation_form .room_type {
    position: relative;
}
#wrap main #hero_bnr #reservation_form .room_type > a,
#wrap main #hero_bnr #reservation_form .room_type > .room_open > a {
    width: 174px; height: 48px;
    background-color: #fff;
    display: flex; /* flex 설정 시 형제끼리 크기 맞추는 자동설정때문에 이미지 비율 망가져 보일 수 있음 (메인, 교차축 설정 적용하면 해결됨) */
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 0 14px;
}
#wrap main #hero_bnr #reservation_form .room_type:hover .room_open {display: block;}
#wrap main #hero_bnr #reservation_form .room_type > a .name,
#wrap main #hero_bnr #reservation_form .room_type > .room_open > a .name {
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .room_type > a .name span,
#wrap main #hero_bnr #reservation_form .room_type > .room_open > a .name span {
    font-size: 0.75rem;
    color: #777;
}
#wrap main #hero_bnr #reservation_form .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room_open {
    position: absolute; left: 0; top: 48px;
    /* apsolute 설정 시 기존태그 크기가 inline-block 처럼 바뀜 */
    display: none;
}
#wrap main #hero_bnr #reservation_form .room_open a {}
#wrap main #hero_bnr #reservation_form .room_open a .name {}
#wrap main #hero_bnr #reservation_form .room_open a .name span {}
#wrap main #hero_bnr #reservation_form .room_open a img {}
/* ----------------------------------------------체크인&아웃 */
#wrap main #hero_bnr .check_in_out {
    display: flex;
    /* 필수! 메인축 방향 줄바꿈처리 flex-flow */
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}
#wrap main #hero_bnr .check_in_out .in {}
#wrap main #hero_bnr .check_in_out .in h2 {}
/* ----------------------------------------------체크인&아웃 공통 */
#wrap main #hero_bnr .check_in_out .in .chk_in > a,
#wrap main #hero_bnr .check_in_out .out .chk_out a {
    width: 174px; height: 48px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 0 14px;
    font-size: 0.88rem;
}
#wrap main #hero_bnr .check_in_out .in .chk_in {}
#wrap main #hero_bnr .check_in_out .in .chk_in > a {}
#wrap main #hero_bnr .check_in_out .in .chk_in > a .name {}
#wrap main #hero_bnr .check_in_out .in .chk_in > a img {}
#wrap main #hero_bnr .check_in_out .day {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
#wrap main #hero_bnr .check_in_out .day img {}
#wrap main #hero_bnr .check_in_out .day em {
    font-size: 0.88rem;
}
#wrap main #hero_bnr .check_in_out .out {}
#wrap main #hero_bnr .check_in_out .out h2 {}
#wrap main #hero_bnr .check_in_out .out .chk_out {}
#wrap main #hero_bnr .check_in_out .out .chk_out a {}
#wrap main #hero_bnr .check_in_out .out .chk_out a .name {}
#wrap main #hero_bnr .check_in_out .out .chk_out a img {}
/* ----------------------------------------------인원 */
#wrap main #hero_bnr .person {}
#wrap main #hero_bnr .person h2 {}
#wrap main #hero_bnr .person .number {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}
/* ----------------------------------------------인원 공통*/
#wrap main #hero_bnr .person .number li {
    width: 140px; height: 48px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.88rem;
    padding: 0 8px;
}
#wrap main #hero_bnr .person .number li .number_btn {
    width: 24px; height: 24px;
}
#wrap main #hero_bnr .person .number li .number_btn img {}
#wrap main #hero_bnr .person .number li span {}
#wrap main #hero_bnr .person .number li span label {}
#wrap main #hero_bnr .person .number li span input { width: 30px; text-align:center}
/* ----------------------------------------------인원 개별*/
#wrap main #hero_bnr .person .number li #adult_add {}
#wrap main #hero_bnr .person .number li #adult_remove {}
#wrap main #hero_bnr .person .number li span #adult {}
#wrap main #hero_bnr .person .number li span #kid {}
#wrap main #hero_bnr .person .number li #kid_add {}
#wrap main #hero_bnr .person .number li #kid_remove {}
#wrap main #hero_bnr #reservation_form > p #search_btn {
    background-color: #4F49BC;
    width: 100px; height: 48px;
    border-radius: 5px; 
    color: #fff;
    font-size: 0.88rem;
}
/* ======================================== 2.info */
#wrap main #info_bg {
    background-color: #F5F5F5;
}
#wrap main #info_bg .info,
#wrap main #traval {}
#wrap main #info_bg .info h2,
#wrap main #traval > h2 {}
#wrap main #info_bg .info p {}
#wrap main #info_bg .info p:last-child {}
#wrap main #info_bg .info p:last-child img {
    width: 100%;
}
#wrap main #info_bg .info p,
#wrap main #traval p {}
/* ==========================3.관광지 소개 */
#wrap main #traval {}
#wrap main #traval h2 {}
#wrap main #traval p {}
#wrap main #traval .traval_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap main #traval .traval_list li {
    width: calc((100% - 60px) / 4);
}
#wrap main #traval .traval_list li a {
    width: 100%; height: 250px;
    overflow: hidden;
    display: block;
}
#wrap main #traval .traval_list li a img {
    width: 100%;
}
#wrap main #traval .traval_list li a:hover img {width: 120%;}
#wrap main #traval .traval_list li > h2 {
    font-size:1.13rem;
    margin-top: 10px;
}

#wrap main #room_bg {
    background-color: #F5F5F5;
}
#wrap main #room_bg .room_wrap {}
#wrap main #room_bg .room_wrap > h2{}
#wrap main #room_bg .room_wrap > p{}
#wrap main #room_bg .room_wrap .room_list {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap main #room_bg .room_wrap .room_list li {}
#wrap main #room_bg .room_wrap .room_list li > a {
    width: 220px; height: 250px;
}
#wrap main #room_bg .room_wrap .room_list li > a img {
    width: 100%;
}
#wrap main #room_bg .room_wrap .room_list li a h3 {
    font-size:1.13rem;
    margin: 10px 0;
    font-weight: 600;
}
#wrap main #room_bg .room_wrap .room_list .big {}
#wrap main #room_bg .room_wrap .room_list .big .room_thum {
    width: 500px; height: 350px;
}
#wrap main #room_bg .room_wrap .room_list .big .room_thum img {
    width: 100%;
}
#wrap main #room_bg .room_wrap .room_list .big > h3 {
    font-size:1.13rem;
    margin: 10px 0;
    font-weight: 600;
}
#wrap main #room_bg .room_wrap .room_list .big .room_info {
    font-size: 0.88rem; line-height: 1.7;
    color: #555555;
}
#wrap main #room_bg .room_wrap .more {}
#wrap main #map {}
#wrap main #map .map_title {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap main #map .map_title > h2 {}
#wrap main #map .map_title > p {}
#wrap main #map .map_img {}
#wrap main #map .map_img img {}
#wrap main #map .traffic {
    margin-top: 30px;
}
#wrap main #map .traffic > h3 {
    font-size: 1.50rem; font-weight: 600;
    color: #555;
}
#wrap main #map .traffic > p {
    font-size: 0.94rem;
    color: #555;
    line-height: 1.8;
    margin-top: 10px;
}
#wrap main #map .bus {}
#wrap main #map .bus {}
#wrap footer {
    background-color: #000;
}
#wrap footer address {
    width: 1220px;
    margin: 0 auto;
    padding: 70px 0;
    color: #fff;
    font-size: 0.88rem;
    line-height: 2.0;
}